#topNav .nav-link {
    color: black !important;
    font-weight: bold !important;
    background: none !important;
}

#topNav .nav-item>.active {
    color: #0095ff !important;
}

#topNav .nav-item>.nav-link:hover {
    color: #39adff !important;
}

.send-area {
    position: relative;
    border: 1px solid white;
    background-color: white;
    padding: 10px;
}

.send-area textarea {
    box-sizing: border-box;
    background-color: white;
    border: none;
    resize: none;
    outline: none;
    width: 100%;
}

.send-area button {
    position: absolute;
    bottom: 0;
    right: 0;

}

.truncation-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    /* number of lines to show */
    -webkit-box-orient: vertical;
}

.slick-dots button::before {
    color: #0096FF !important;
}

.custom-slider-item {
    background: #f4f4f4;
    width: 100%;
    color: black;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    margin-bottom: 5px;
    margin-top: 1px;
    position: relative;
    border-radius: 5px;
}

.custom-slider-item:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -8px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px;
    border-color: #f3f3f3 transparent transparent transparent;
}

.slick-prev::before {

    font-size: 30px !important;
    color: #0096FF !important;
    margin-left: -15px !important;
}

.slick-next::before {
    font-size: 30px !important;
    color: #0096FF !important;
    margin-right: -15px !important;
}

.slick-initialized {
    display: block !important;
}


.page-link {
    font-weight: bold !important;
    color: #BBB !important;
    margin: 3px !important;
    border-radius: 5px !important;
    background-color: #f5f5f5 !important;
    border-style: none !important;
}


.active>.page-link {
    background-color: #0096FF !important;
    color: #FFF !important;
}

.pagination {
    --bs-pagination-focus-box-shadow: none !important;
}

.next-and-previous-button {
    color: #0096FF !important;
}

.disabled>.page-link {
    color: #BBB !important;
}

input[type="date"]:not(.has-value):before {
    color: #808080;
    content: attr(placeholder);
}

:root {
    --bs-primary-rgb: 0, 150, 255 !important
}

#menu .nav-item .active {
    background: rgba(255, 255, 255, 0.2) !important;
}

#menu .nav-item .nav-link:hover {
    background: rgba(255, 255, 255, 0.1) !important;
}

#menu .nav-link {
    font-weight: bold !important;
    background-color: transparent !important;
    color: #FFF !important;
}

.customLink:active {
    color: #0096FF !important;
}

.customLink:hover {
    color: #39adff !important;
}

.headLine {
    height: 150px;
    background-color: #0096FF;
    color: white;
    font-weight: bold;
    text-align: center;
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navflex {
    width: 25%;
    box-shadow: 0px 4px 4px 0px #00000040 inset;
    width: 248px;
    height: 1189px;
    margin-top: -10px;
    background-color: #0096FF;
}

.navTextFlex {
    color: white !important;
    height: 80px;
    align-items: center;
}

.navTextFlex:hover {
    color: #1f394b !important;
    background-color: rgb(147, 190, 220) !important;
    height: 80px !important;
    align-items: center;
    font-size: 16px !important;
}

.navTextFlex:active {
    color: #000000 !important;
    height: 80px !important;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline;
    padding: 20px;
    background-color: #d9d9d9;
}

.imgIconNav {
    height: 48px;
    width: 48px;
    display: inline;
    align-items: flex-start;
}

.chinhsuahoso {
    margin-top: -10;
}

.frameOfContent {
    width: 75%;
    float: right;
    background-color: #1f394b;
    border: 1px solid #000000;
    height: 1000px;
    margin-top: -1190px;
}

.round-circle {
    width: 48px;
    height: 48px;
    float: left;
}

.border-test {
    border: 1px solid #000000;
}

.div-test {
    background-color: fuchsia;
}

.maintab .nav-item>.active {
    background-color: #0096FF !important;
    color: white !important;
    font-size: 16px !important;
    font-weight: bold !important;
}

.maintab .nav-item>.nav-link:hover {
    background-color: #39adff !important;
    color: white !important;
    font-size: 16px !important;
    font-weight: bold !important;
}

.subtab .nav-item>.active {
    background-color: #0096FF !important;
    color: white !important;
    font-weight: bold !important;
}

.subtab .nav-item>.nav-link:hover {
    background-color: #39adff !important;
    color: white !important;
    font-weight: bold !important;
}



.completed {
    background-color: #269A6C;
}

.incompleted {
    background-color: #B74141;
}

.popUp {
    position: relative;
    display: inline-block;
}

.popUpContent {
    position: absolute;
    left: 0;
    top: 20px;
    background-color: #0096FF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    z-index: 1;
    border-radius: 10px;
    visibility: hidden;
}

.popUp:hover .popUpContent {
    visibility: visible;
}

.datepicker-wrp {
    position: relative;
    width: 135px;
}

.btn-wrp {
    border-bottom: 2px solid #007cd4;
    display: inline-block;
    width: 100%;
    position: relative;
    z-index: 1;
}

.btn-clck {
    border: none;
    background: transparent;
    width: 100%;
    padding: 10px;
    outline: none;
    color: #007cd4;
    font-weight: bold;
}

.btn-clck::-webkit-calendar-picker-indicator {
    right: -10px;
    position: absolute;
    width: 78px;
    height: 40px;
    color: rgba(204, 204, 204, 0);
    opacity: 0
}

.btn-clck::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.btn-clck::-webkit-clear-button {
    margin-right: 75px;
}

.btnIconDate {
    height: 100%;
    background: #fda200;
    border: none;
    color: #fff;
    padding: 13px;
    position: absolute;
    right: 0;
    top: 0;
}

/* custom scrollbar*/
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #83a7c5;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(51, 117, 164)
}


.dropdown-item {
    display: inline-block !important;
    margin-right: 20px !important;
}

#stickyTop {
    z-index: 0 !important;
}

/* image user*/
.upload {
    width: 120px;
    position: relative;
    margin: auto;
}


.upload img {
    border-radius: 50%;
    border: 6px solid #eaeaea;
}

.upload .round {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #00B4FF;
    width: 32px;
    height: 32px;
    line-height: 33px;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
}

.upload .round input[type="file"] {
    position: absolute;
    transform: scale(2);
    opacity: 0;
}

input[type=file]::-webkit-file-upload-button {
    cursor: pointer;
}

/* custom schedule in calendar*/
.dx-scheduler-time-panel-cell>div {
    font-size: 16px !important;
    font-weight: bold !important;
}

.dx-scheduler-appointment-content-date {
    font-size: 13px !important;
}

.dx-scheduler-appointment-title {
    font-size: 17px !important;
}

.dx-scheduler-appointment:hover {
    filter: brightness(0.94) !important;
}

.dx-popup-content.dx-popup-content-scrollable {
    pointer-events: none !important;
}

.dx-scheduler-appointment-resource-list {
    display: none !important;
}

.dx-scheduler-header-panel-cell-date {
    margin-top: 5px !important;
}

.wordWrap {
    word-wrap: break-word;
    /* IE 5.5-7 */
    white-space: -moz-pre-wrap;
    /* Firefox 1.0-2.0 */
    white-space: pre-wrap;
    /* current browsers */
}

.next_prevBtn_disabled {
    font-size: 35px;
    color: #007cd4;
    filter: brightness(0.7);
    cursor: not-allowed
}

.next_prevBtn {
    font-size: 35px;
    color: #007cd4;
}

.signature {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}

.seven-color:nth-child(1) .wrapcolor {
    background-color: #FF0000;
}

.seven-color:nth-child(2) .wrapcolor {
    background-color: #FF8E00;
}

.seven-color:nth-child(3) .wrapcolor {
    background-color: #e5e500;
}

.seven-color:nth-child(4) .wrapcolor {
    background: #008E00;
}

.seven-color:nth-child(5) .wrapcolor {
    background: #00C0C0;
}

.seven-color:nth-child(6) .wrapcolor {
    background: #400098;
}

.seven-color:nth-child(7) .wrapcolor {
    background: #8E008E
}

.a {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* input type date format DD/MM/YYYY*/
/*
input[type="date"] {
    position: relative;
}

input[type='date']::-webkit-datetime-edit-text {
    padding: 0 0.15em;
}

input[type="date"]::-webkit-datetime-edit-year-field {
    position: relative !important;
}

input[type="date"]::-webkit-datetime-edit-month-field {
    position: relative !important;
    left: 33px;
}


input[type="date"]::-webkit-datetime-edit-day-field {
    position: relative !important;
    left: -28px;
}
*/